@import './config.scss';

.container-login{
    .logo{
        width: 178px;
        display: block;
        margin: auto;
        margin-bottom: 47px;
    }

    .form{
        padding: 10px;

        p{
            color: $errorColor;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-align: center;
            font-weight: bold;
        }

        div{
            display: flex;
            padding: 0px 10px;
            margin-bottom: 30px;

            img{
                width: 18px;
                height: 18px;
                margin-right: 15px;
                margin-top: 3px;
            }

            input{
                width: 224px;
                padding-bottom: 8px;

                &:focus{
                    border-bottom-color: $primaryColor;
                }
            }
        }

        button{
            width: 100%;
            height: 56px;
            background-color: $primaryColor;
            color: white;
            border: none;
            border-radius: 12px;
            font-size: 16px;
            margin-top: 15px;
        }
    }

    @media screen and (min-width: $mediaQueryDesktop) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .logo{
            width: 40%;
            max-width: 520px;
            margin: 0px;
        }

        .form{
            border: 1px solid $primaryColor;
            border-radius: 32px;
            padding: 80px 40px;
            margin-left: 5%;

            div{
                img{
                    width: 22px;
                    height: 22px;
                }
                input {
                    width: 343px;
                    font-size: 16px;
                }
            }

            button {
                font-size: 18px;
            }
        }
    }
}